.book-label{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.textfield-bookName{
    width: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
}
.textfield-body{
    width: 50%;
    margin-left: 60px;
    margin-bottom: 20px;
}
.textfield-author{
    width: 50%;
    margin-left: 45px;
    margin-bottom: 20px;
}

.header{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.add-button{
    margin-top: 20px;
    width: 200px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  