.book-label{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    position: relative;
    top: -70px;
    
}

.textfield-bookName{
    left: 20px;    
}

.body-label{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.author-label{
    position: relative;
    top: -40px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.textfield-body{
    position: absolute;
    width: 50%;
    left: 20px;
    margin-bottom: 20px;
}
.author-dropdown{   
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.add-button{
    position: absolute;
    top: 80px;
    width: 200px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.header{
    position: absolute;
    top: 100px;
}